@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,500;1,900&display=swap');

/* GENERAL */
body {
    background-color: rgb(229, 229, 229);
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
}

a {
    color: inherit;
    text-decoration: none;
}

.underline {
    position: relative;
}

.underline::before{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 2px;
    background-color: rgb(252, 163, 17);
    transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (hover: hover) and (pointer: fine) {
    .underline:hover::before{
        left: 0;
        right: auto;
        width: 100%;
    }
}

/* LOGO */
.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20vh;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    z-index: 2;
}

.light-text {
    font-size: 50px;
    font-weight: 100;
}

.medium-text {
    font-size: 75px;
    font-weight: 700;
}

/* NAVIGATION */
.nav {
    display: flex;
    justify-content: center;
    width: 100vw;
    position: fixed;
    top: 50vh;
    left: 0;
}

.nav ul {
    display: flex;
    padding: 5px 5px 5px 5px;
    margin: 0;
}

/* SOCIALS */
.socials {
    display: flex;
    justify-content: center;
    width: 100vw;
    position: fixed;
    top: 55vh;
    left: 0;
}

.socials ul {
    display: flex;
    padding: 5px 5px 5px 5px;
    margin: 0;
}

li {
    list-style: none;
    margin: 10px 10px;
}

/* WAVE */
.wave-1 {
    fill: rgb(0, 0, 0);
    width: 100vw;
    height: 19vh;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 2;
}

.wave-2 {
    fill: rgb(252, 163, 17);
    width: 100vw;
    height: 20vh;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1;
}

/* OTHER PAGES */
.nav-other {
    display: flex;
    justify-content: center;
    width: 100%;
    position: fixed;
    top: 0vh;
    left: 0vh;
}

.nav-other ul {
    display: flex;
    padding: 5px 5px 5px 5px;
    margin: 0;
}